[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ibmcloudenv = "*"
Flask = ">=1.0.0"
ibm-db = "*"
pipfile = "*"
requests = "*"
flask_testing = "*"
flask_mail = "*"


