[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.7.1"
ibmcloudenv = "*"
livereload = "*"
Flask = ">=1.0.0"
Flask-SQLAlchemy = "*"
flask_httpauth = "*"
flask_pyoidc=">=2.0.0"
prometheus_client = "*"
ibm-db = "*"
pipfile = "*"
jwt = "*"
requests = "*"
bs4 = "*"
