<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{url_for('static',filename='styles/Game_Style.css')}}" rel='stylesheet' type='text/css'/>
<script src="{{url_for('static',filename='js/JSFunctions.js')}}"></script>
<title>Clue Page</title>

<body>
	<div id="answer_page_container">

		<!-- POP UP SIDE BAR -->
		<div id="mySidebar" class="sidebar">
	      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	      <a href="#" onclick="appConstruction()">Map</a>
	      <a href="#" onclick="appConstruction()">Leaderboard</a>
	      <a href="#" onclick="appConstruction()">Profile</a>
	      <a href="HelpPage">Help</a>
	      <a href="#" onclick="appConstruction()">FAQ</a>
	      <a href="#" onclick="appConstruction()">Resources</a>
	      <a href="#">Logout</a>
	    </div>

		<div class="navbar">
			<input type="image" src="{{url_for('static',filename='images/menu_icon.png')}}" onclick="openNav()" class="openbtn" alt="Menu Icon" id="menu_icon">
			<img id="white_logo_vector" src="{{url_for('static',filename='images/white_logo_vector.png')}}" width="150" height="60">
		</div>

		<div id="progress_bar">
			<span>Progress bar value: {{progress_value}}</span>
		</div>
		
		<img id="clue_location" src="{{url_for('static',filename='images/{{clue_location}})}}">
		
		<div id="clue_text">
			<span>Clue for next location: {{clue_message}}</span>
		</div>
		
		<div id="transparent_button_container">
			<button type="button" class="transparent_button" id="goback" name="goback_button" onclick="goBack()">Go Back</button>
			
			<form action="getQuestion" method="POST">
				<input type="hidden" name="progress" value="{{progress_value}}">
				<input type="submit" class="transparent_button" id="next" name="next" value="Here">
			</form>
		</div>
	
	</div>
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>