<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Help Page</title>

<style id="applicationStylesheet" type="text/css">

	#white_menu_button {
		position: absolute;
		left: 15.5px;
		top: 20.5px;
	}
	
	#green_box_rect {
		position: absolute;
		overflow: visible;
		width: 375px;
		height: 62px;
		left: 0px;
		top: 0px;
	}

	#white_logo_vector {
		position: absolute;
		width: 132px;
		height: 51px;
		left: 126px;
		top: 6px;
		overflow: visible;
	}
	
	
</style>

<body>
	<div id="answer_page_container">
	
		<svg id="green_box_container">
			<rect id="green_box_rect" fill="rgba(0,128,1)" stroke="rgba(112,112,112,1)"></rect>
		</svg>
	
		<div id="white_menu_container">
			<img id="white_menu_button" src="white_menu_button.png" width="40" height="40" left="15.5px" top="20.5px">
		</div>
		
		<div id="exeter_logo_container">
			<img id="white_logo_vector" src="white_logo_vector.png" width="150" height="60">
		</div>
		
		<div id="help_title">
			<h1>Help Page</h1>
		
		<div id="help_message">
			<p>How to play:</p>
			<p>Once you've chosen a type of route you will be presented with a clue to where you need to go next.</p>
			<p>Once you think you've reached the next location, tap 'Next' and you will be displayed with your task!</p>
			<p>Enter your final answer and move on to the next location! Once the progress bar at the top is full you've finished!!!</p>
			<p>You will be given a score and your leaderboard position.</p>
		</div>
		
		
		
		<div id="transparent_button_container">
			<button type="button" id="transparent_button" name="contine_button">Continue</button>
		</div>		
		
	</div>
</body>
</html>