<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Location Page</title>

</head>

<body>
	<div id="assign_routes_page">
		
		<!-- Assign Route Column -->
		<div id="assign_route_container">
		
			<h2>Assign Route</h2>
				<p> <label>Group:</label>
				<!-- As route and group boxes are selected their names will appear here -->
				<div style="width:100px;height:30px;border:1px solid #000;">Group here!</div>
				</p>
				
				<p> <label>Route:</label>
				<!-- As route and group boxes are selected their names will appear here -->
				<div style="width:100px;height:30px;border:1px solid #000;">Route here!</div>
				</p>
				
			<div id="transparent_button_container">
				<button type="button" id="transparent_button" name="assign_button">Assign</button>
			</div>
		</div>
		
		<!-- Routes Column -->
		<h2>Routes</h2>
		
			<div id="route_list_container">
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
				<input type="radio" id="example_route" name="routes"/> Example Route <br />
			</div>		
		<p></p>
		
		<!-- Groups -->
		<h2>Groups</h2>
		
			<div id="group_list_container">
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
				<input type="radio" id="example_group" name="groups"/> Example Group <br />
			</div>	
		
	</div>
</body>
</html>