<!DOCTYPE html>
<html>
<head>
<link href="Location_Style.css" rel='stylesheet' type='text/css'/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../JSFunctions.js"></script>
<title>Add Location Page</title>

</head>
<body>
	<div id="edit_location_page">

		<form>
			<div class="location_inputs" id="add_location_container">
				<div class="location_inputs">
					<label id="input_label">Location Name:</label>
					<input type="text" placeholder="Location" name="location" required>
				</div>

				<div class="location_inputs">
					<label id="input_label">Task Description:</label>
					<input type="text" placeholder="Description" name="task" required>
				</div>

				<div class="location_inputs">
					<label id="input_label">Hint:</label>
					<input type="text" placeholder="Hint" name="hint">
				</div>

				<div class="location_inputs">
					<label id="input_label">Answer a:</label>
					<input type="text" placeholder="Answer" name="answer_a" required>
				</div>

				<div class="location_inputs">
					<label id="input_label">Answer b:</label>
					<input type="text" placeholder="Answer" name="answer_b" required>
				</div>

				<div class="location_inputs">
					<label id="input_label">Answer c:</label>
					<input type="text" placeholder="Answer" name="answer_c" required>
				</div>

				<div class="location_inputs">
					<label id="input_label">Answer d:</label>
					<input type="text" placeholder="Answer" name="answer_d" required>
				</div>

				<div class="location_inputs" >
					<label id="input_label">Correct Answer:</label>
					<select id ="not_text_input" class="correct_answer">
	  				<option value="a">A</option>
	  				<option value="b">B</option>
	  				<option value="c">C</option>
	  				<option value="d">D</option>
					</select>
 				</div>

				<div class="location_inputs"> <label id="input_label">Upload Image:</label>
				<!-- <input type="file" name="location_photo"> -->
				<input type="file" name="location_photo" id ="not_text_input" class="inputfile" />
				<label for="file">Upload</label>
			</div>

			</div>
		</form>

		<div id="transparent_button_container">
			<button type="button" id="save_transparent_button" name="save_location_button">Save Location</button>
			<button type="button" href="#" id="transparent_button" onclick="loadDoc('Manage_Locations_Page.html')" name="goback_button">Go Back</button>
		</div>


	</div>
</body>
</html>