<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{url_for('static',filename='styles/Game_Keeper_Login_Style.css')}}" rel='stylesheet' type='text/css'/>
<title>Game's Keeper Login</title>

<!-- <style id="applicationStylesheet" type="text/css">
	#green_box {
		position: absolute;
		overflow: visible;
		width: 802px;
		height: 683px;
		left: 559px;
		top: 198px;
		opacity: 0.792;
	}
	#exeter_logo_container {
		position: absolute;
		width: 686px;
		height: 263px;
		left: 617px;
		top: 241px;
		overflow: visible;
	}
</style> -->

</head>

<body>

	<!-- <svg class="green_box">
		<rect fill="rgba(46,57,32,1)" id="Rectangle_33" rx="0" ry="0" x="0" y="0" width="802" height="683"></rect>
	</svg> -->

	<div id="green_box">

	<div id="exeter_logo_container">
		<img id="white_logo_vector" src={{url_for('static',filename='images/white_logo_vector.png')}}>
	</div>

	<div id="game_name">
		<h1>eXeplore Game</h1>
	</div>


	<form>
		<div class="login_container">


			<p> <input id="text_input" type="text" placeholder="Email" name="email" required> </p>
			<p> <input id="text_input" type="password" placeholder="Password" name="password" required> </p>

			<label>Log in as:</label>
			<p>
			<button type="submit" formmethod="post">Staff</button>
			<button type="submit" formmethod="post">Student</button>
			</p>

			<label>
			  <input type="checkbox" checked="checked" name="remember"> Remember me
			</label>


	  </div>

	</form>
	</div>





</body>
<!-- <body> -->
<!--
<div id="Game_s_Keeper_Login">
	<img id="Exeter_University" src="Exeter_University.png" srcset="Exeter_University.png 1x, Exeter_University@2x.png 2x">
	<svg class="Rectangle_33">
		<rect fill="rgba(46,57,32,1)" id="Rectangle_33" rx="105" ry="105" x="0" y="0" width="802" height="683">
		</rect>
	</svg>
	<div id="">
		<span></span>
	</div>
	<div id="Group_1">
		<svg class="Rectangle_1">
			<rect fill="rgba(49,117,14,1)" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="23" ry="23" x="0" y="0" width="258" height="46">
			</rect>
		</svg>
		<div id="Email">
			<span>Email</span>
		</div>
	</div>
	<div id="Group_2">
		<svg class="Rectangle_1_">
			<rect fill="rgba(49,117,14,1)" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1_" rx="23" ry="23" x="0" y="0" width="257" height="46">
			</rect>
		</svg>
		<div id="Password">
			<span>Password</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Transparent_Button" class="Transparent_Button">
		<div id="Component_1___6" class="Component_1___6">
			<svg class="Rectangle_2">
				<rect fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="20" ry="20" x="0" y="0" width="113" height="40">
				</rect>
			</svg>
		</div>
		<div id="Staff">
			<span>Staff</span>
		</div>
	</div>
	<img id="white_logo_vector" src="white_logo_vector.png" srcset="white_logo_vector.png 1x, white_logo_vector@2x.png 2x">
	<div id="Transparent_Button_bc" class="Transparent_Button">
		<div id="Component_1___6_bd" class="Component_1___6">
			<svg class="Rectangle_2_be">
				<rect fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_be" rx="20" ry="20" x="0" y="0" width="113" height="40">
				</rect>
			</svg>
		</div>
		<div id="Student">
			<span>Student</span>
		</div>
	</div>
	<div id="Log_in_as_">
		<span>Log in as:</span>
	</div>
	<div id="eXeplore_Game">
		<span>eXeplore Game</span>
	</div>
</div>
</body>
-->
</html>