<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{url_for('static',filename='styles/Game_Keeper_Style.css')}}" rel='stylesheet' type='text/css'/>
    <script src="{{url_for('static',filename='js/JSFunctions.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Gamekeeper Dashboard</title>
  </head>

  <body>

    <!-- Pop up sidebar -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/dashboard">Homepage</a>
      <a href="/Logout">Logout</a>
    </div>

	<!-- Topbar -->
    <div id="topbar">
      <img src="{{url_for('static',filename='images/white_logo_vector.png')}}" alt="Exeter Uni Logo" id="exeter_logo"/>
      <a>
       <input type="image" src="{{url_for('static',filename='images/menu_icon.png')}}" onclick="openNav()" class="openbtn" alt="Menu Icon" id="menu_icon"/>
      </a>
    </div>
     
    <!-- Sidebar -->
    <div id="sidebar">
	  <a href="#" onclick="loadDoc('/Manage_Locations_Page')">
		Manage Locations
	  </a>
      <a href="#" onclick="loadDoc('/Manage_Groups_Page')">
         Manage Groups
      </a>
      <a href="#" onclick="loadDoc('/Leaderboard_Page')">
         Leaderboard
      </a>
      <a href="#" onclick="loadDoc('/Manage_Routes_Page')">
        Manage Routes
      </a>
      <a href="#" onclick="loadDoc('/Assign_Routes_Page')">
        Assign Routes
      </a>
    </div>
	
    <!-- Content -->
    <div id="content">
		<h1>Welcome Game Keeper!</h1>
        <p>
           Please see on the left of your screen the features you've been given.
            Use these pages to configure, update and change the game.
        </p>
        <h2>Key features:</h2>
        <ul>
          <li>You have the ability to Create/Add, Edit, Delete and View all locations,
          Groups and Routes.</li>
          <li>View the leaderboard</li>
          <li>Assign Groups to Routes</li>
		</ul>
		<p>Make sure to keep all page content within the 
		  <code>#content</code>.
		</p>
    </div>

  </body>
<html>