body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(#6C6C6C, #C1C0C0);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  margin-left: 50px;
}

.table{
  color: black;
  background-color: white;
  width: 80%;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:20px;
  table-layout: fixed;
  margin-left: 50px;
  padding: 6px;
}
.table tbody{
  display:block;
  overflow: auto;
  height: 200px;
}
.table thead tr {
   display: block;
   border-radius: 20px;
}
.table thead {
  background: #104600;
  color:#fff;
}
.table th, .table td {
  padding: 5px;
  text-align: left;
  width: 400px;

}