
<!DOCTYPE html>
<html>
<head>
<link href="Manage_Location_Style.css" rel='stylesheet' type='text/css'/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../JSFunctions.js"></script>
<title>Manage Locations Page</title>
</head>

<body>
	<div id="manage_location_page">

		<h3>Locations:</h3>

		<!-- Make This scrollable overflow-y: scroll; in the css should do this -->
			<div id="location_list_container">
				<input type="radio" id="location_1" name="locations"/><label id="location_label" for="location_1"> Forum</label> <br />
				<input type="radio" id="location_2" name="locations"/> <label id="location_label" for="location_2"> Sports Park</label> <br/>
				<input type="radio" id="location_3" name="locations"/> <label id="location_label" for="location_3"> Peter Chalk</label> <br />
				<input type="radio" id="location_4" name="locations"/> <label id="location_label" for="location_4"> Innovation</label><br />
				<input type="radio" id="location_1" name="locations"/><label id="location_label" for="location_1"> Forum</label> <br />
				<input type="radio" id="location_2" name="locations"/> <label id="location_label" for="location_2"> Sports Park</label> <br/>
				<input type="radio" id="location_3" name="locations"/> <label id="location_label" for="location_3"> Peter Chalk</label> <br />
				<input type="radio" id="location_4" name="locations"/> <label id="location_label" for="location_4"> Innovation</label><br />
				<input type="radio" id="location_1" name="locations"/><label id="location_label" for="location_1"> Forum</label> <br />
				<input type="radio" id="location_2" name="locations"/> <label id="location_label" for="location_2"> Sports Park</label> <br/>
				<input type="radio" id="location_3" name="locations"/> <label id="location_label" for="location_3"> Peter Chalk</label> <br />
				<input type="radio" id="location_4" name="locations"/> <label id="location_label" for="location_4"> Innovation</label><br />
			</div>



	</div>
	<div id="transparent_button_container">

			<button type="button" href="#" id="transparent_button" onclick="loadDoc('Add_Location_Page.html')" name="new_location_button">Add</button>
			<button type="button" href="#" id="transparent_button" onclick="loadDoc('Edit_Location_Page.html')" name="edit_location_button">Edit</button>
			<button type="button" href="#" id="delete_transparent_button" name="delete_location_button">Delete</button>
	</div>
</body>
</html>