<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Leaderboard_Style.css" rel='stylesheet' type='text/css'/>
<title>Leaderboard Page</title>
</head>

<body>
	<div id="leaderboard_page">
	
		<h3>Leaderboard:</h3>
		
		<!-- Make This scrollable overflow-y: scroll; in the css should do this -->
			<div id="groups_list_container">
   			 <table class="table" id="stockTable">
     			 <thead>
        			<tr>
         				<th>Position</th>
          				<th>Team Name</th>
          				<th>Score</th>
        			</tr>
      			</thead>
      			<!-- This will be dynamically loaded from db -->
      			<tr>
              		<td>1</td>
              		<td>The Best Team</td>
              		<td>300</td>
            	</tr>
            	<tr>
              		<td>2</td>
              		<td>Ben is the best team</td>
              		<td>270</td>
            	</tr>
			</div>
	

	</div>
</body>
</html>