<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Phone_Login_Style.css" rel='stylesheet' type='text/css'/>
<title>Mobile Login Page</title>


</head>

<body>

	<div id="mobile_login_page_container">
	
		<svg id="green_box_container">
			<rect id="green_box_rect" fill="rgba(0,128,1)" stroke="rgba(112,112,112,1)"></rect>
		</svg>

		<div id="exeter_logo_container">
			<img id="white_logo_vector" src="white_logo_vector.png" width="150" height="60">
		</div>

		<div id="game_name">
			<h1>eXeplore Game</h1>
		</div>


		<form>
			<div class="login_container">
				<p> <input id="login_form" type="text" placeholder="Email" name="email" required> </p>
				<p> <input id="login_form" type="text" placeholder="Password" name="password" required> </p>

				<label>Log in as:</label>
				<p>
				<button type="submit">Staff</button>
				<button type="submit">Student</button>
				</p>
				
				<label>
				  <input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
		  </div>
		</form>

	</div>

</body>
<body>