body {
	background-image: url('/Exeter_University.jpg');
	color: white;
	text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #103819;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
  text-align: center;
  border-style: solid;
  border-color: #707070;
  border-top: 0px;
  border-left: 0px;
  border-width: 1px;
}

#menu_icon {
	height: 40px;
	width: 40px;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

/* Exeter university logo container */
#white_logo_vector {
	margin-top: 10px;
	margin-right: 60px;
}

#progress_bar {
	width: 301px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	border-width: 1px;
	background: white;
	color: black;
}

/* Clue location image box */
#clue_location {
	overflow: visible;
	width: 301px;
	height: 206px;
	left: 37px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 15px;
	margin-bottom: 15px;
}

/* Clue message box*/
#clue_text {
	margin: auto;
	border-style: solid;
	border-color: #707070;
	border-width: 1px;
	border-radius: 15px;
	background: #D6D6D6;
	color: white;
	height: 97px;
	width: 301px;
}

/* Question box */
#question_text {
	border-style: solid;
	border-color: #707070;
	border-width: 1px;
	border-radius: 15px;
	background: #D6D6D6;
	color: white;
	height: 50px;
	width: 301px;
	margin: auto;
}

/* General styling for all transparent butttons */
.transparent_button {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 20px;
	height: 40px;
	width:90px;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

#goback {
	background: #415CE1;
}

#submit {
	background: #FFB916;
}

/* ----POP UP SIDEBAR---- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  border-left-style: : 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Answer radio buttons */

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #FFB916;
  box-shadow: 0 0 0 0.25em #000;
}

/* HELP PAGE CSS */

#answer_page_container {
	background-image: linear-gradient(#016001, #B1B1B1);
	margin-top: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 20px;
}

/* END GAME PAGE CSS */


.table{
  color: black;
  background-color: white;
  width: 80%;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:20px;
  table-layout: fixed;
  margin-left: 40px;
  margin-bottom: 30px;
  padding: 6px;
}
.table tbody{
  display:block;
  overflow: auto;
  height: 200px;
}
.table thead tr {
   display: block;
   border-style: solid;
   border-width: 0px;
   border-radius: 20px;
}
.table thead {
  background: #104600;
  color:#fff;
}
.table th, .table td {
  padding: 5px;
  text-align: left;
  width: 400px;

}